body {
    padding: 0;
    margin: 0;
    font: normal 14px/normal "Helvetica Neue", helvetica, arial, sans-serif;
    background: #eee;
}
a:link:hover, a:visited:hover, #contents a:visited:hover {
    color: red;
}
#container {
    max-width: 1000px;
    padding: 10px 25px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
#authors {
    margin: 0;
    list-style: none;
    padding: 0;
}
#authors li {
    float: left;
    border-right: 1px #ccc dotted;
    padding: 0 5px;
}
#authors .last {
    border: 0;
}
.clear {
    clear: both;
}
.m1 {
    margin-bottom: 7px;
}
.center {
    text-align: center;
}
p, ul, ol {
    margin: 0 0 20px 0;
    line-height: 20px;
}
h4 {
    margin-bottom: 7px;
}
code {
    padding: 0 5px;
}
pre {
    background: #eee;
    padding: 15px;
    margin: 10px 30px 20px 30px;
    border-radius: 3px;
}
pre.long {
    height: 200px;
    overflow: auto;
}
#contents a:visited {
    color: blue;
}
#contents {
    padding: 0;
    list-style: none;
}
#contents li {
    font-size: 18px;
    line-height: normal;
}
#top {
    position: fixed;
    right: 30px;
    bottom: 20px;
}
#top a {
    font-size: 10px;
    text-transform: uppercase;
    font-family: arial, sans-serif;
    color: #fff;
    text-decoration: none;
    background: #333;
    padding: 8px 10px;
    border-radius: 3px;
}
#top a:hover
{
    background: #444;
}
footer {
    margin: 50px 0 0 0;
}
hr {
    border: 0;
    border-bottom: 1px #ccc solid;
}